@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'baloo';
    src: url('./assets/fonts/Baloo2-Regular.ttf') format('truetype');
    font-weight: normal;  /* Regular weight */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'baloo';
    src: url('./assets/fonts/Baloo2-Bold.ttf') format('truetype');
    font-weight: bold;  /* Bold weight */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'baloo';
    src: url('./assets/fonts/Baloo2-SemiBold.ttf') format('truetype');
    font-weight: 600;  /* SemiBold weight */
    font-style: normal;
    font-display: swap;
}
